body{
    font-family: 'Poppins', sans-serif;
    margin: 40px; 
   
}
nav{
    text-align:center;
    color:aliceblue;
    margin: 15px;
   
    background-color: grey;
   
}
 nav li{

    border-bottom: 2px solid black; 
    text-transform: uppercase;
    text-underline-position: below;
    margin: 20px;
    display: inline-block;
   
}
a{
    color: black;
    text-decoration: none;
}
section h2{
   
    border-bottom: 2px solid black;
}
section{
    margin: 20px;
    padding: 5px 0px;
}
