:not(p){
     /* what this will do is, because we are saying select everything except p tag, so it will 
    also select body tag and then appply this styling which will then be inherited from body element by p tags as well  */
    color:brown;
    background-color: aqua;
} 

body :not(p){
    /* This one will skip the only p tag that are direct children of body, other it will select i mean grand children*/
    color:rgb(219, 107, 107);
    background-color: rgb(45, 65, 65);
}
div:empty{
    /* It will select all the empty div tags in html docs. */
    color:rgb(106, 135, 24);
    background-color: rgb(255, 123, 0);
    border: 5px solid red;
    height: 100px;
    weight: 50px;
}
:root{
    /* it is same as writing applying css on html elements. but instead we mostly use body. */
    color:rgb(91, 10, 10);
    background-color: rgb(123, 169, 169);
}